body {
	/* display: flex;
	align-items: center;
	justify-content: center; */
}

.top-text {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px 15px;
}
.allText .heading {
	font-size: 21px;
	font-weight: 700;
	margin-right: 8px;
}
.allText .output-me {
	font-size: 21px;
}

#dataNotFound {
	display: none;
}
